<div class="password-forgot-verification container">
  <div class="row">
    <div *ngIf="isVerified == true" class="col-md-6">
      <div class="title">Tạo mật khẩu mới</div>
      <form [formGroup]="forgotPasswordResetForm" (submit)="onForgotPasswordResetFormSubmit()" class="p-2 pb-4">
        <div formGroupName="newPasswordGroup">
          <div class="form-group">
            <label for="newPassword"></label>
            <input type="password" id="newPassword" class="form-control" name="newPassword" placeholder="New Password"
              formControlName="newPassword" [maxlength]="140">
            <span
              *ngIf="forgotPasswordResetForm.get('newPasswordGroup.newPassword').invalid && forgotPasswordResetForm.get('newPasswordGroup.newPassword').touched">
              <span *ngIf="forgotPasswordResetForm.get('newPasswordGroup.newPassword').errors['required']"
                class="alert-danger">Bắt buộc!</span>
              <span *ngIf="forgotPasswordResetForm.get('newPasswordGroup.newPassword').errors['minlength']"
                class="alert-danger">Mật khẩu phải có ít nhất 6 chữ số!</span>
            </span>
          </div>

          <div class="form-group">
            <label for="newPasswordConfirm"></label>
            <input type="password" id="newPasswordConfirm" class="form-control" name="newPasswordConfirm"
              placeholder="New Password Again" formControlName="newPasswordConfirm" [maxlength]="140">
            <span
              *ngIf="forgotPasswordResetForm.get('newPasswordGroup.newPasswordConfirm').invalid && forgotPasswordResetForm.get('newPasswordGroup.newPasswordConfirm').touched">
              <span *ngIf="forgotPasswordResetForm.get('newPasswordGroup.newPasswordConfirm').errors['required']"
                class="alert-danger">Bắt buộc!</span>
              <span *ngIf="forgotPasswordResetForm.get('newPasswordGroup.newPasswordConfirm').errors['minlength']"
                class="alert-danger">Mật khẩu phải có ít nhất 6 chữ số!</span>
            </span>
          </div>

          <span
            *ngIf="forgotPasswordResetForm.get('newPasswordGroup').invalid && forgotPasswordResetForm.get('newPasswordGroup').touched">
            <span
              *ngIf="forgotPasswordResetForm.get('newPasswordGroup').errors != null && forgotPasswordResetForm.get('newPasswordGroup').errors['noMatch']"
              class="alert-danger">mật khẩu phải trùng khớp!</span>
          </span>

        </div>

        <button class="btn btn-info" style="width: 50%" type="submit"
          [disabled]="forgotPasswordResetForm.invalid || forgotPasswordResetForm.pending">
          Lưu
        </button>
      </form>
    </div>
    <div *ngIf="isVerified == false" class="col-md-6">
      Đã xảy ra lỗi. Kiểm tra xem liên kết của bạn có hợp lệ không và thử lại.
    </div>
  </div>
</div>
